.lobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 10px;
  }
  
  .lobby-title {
    color: #2689aa;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #2689aa;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 200px;
  }
  
  button:hover {
    background-color: #1c5e77;
  }
  
.question-text{
  resize: none;
  width: 40%; 
  font-size: 18px;

}
.userAnswer-text{
  resize: none;
  width: 40%; 
  height: 150px;
  font-size: 18px;
}
.bottom-bar {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.user-counter {
  background-color: #c1d5df;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  font-weight: bold;
  color: #333;

}

h1{
  margin-bottom: 0%;
}


.smiley-image, .tryagain-image {
  width: 100px;     
  height: auto;      
  display: block;    
  margin: 0 auto 10px auto;  
}

